.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 72px;
}

.header .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 800;
    margin-left: 120px;
}